.profileDiv {
  margin-top: 30px;
  margin-left: 30px;
  width: 407px;
  height: 219px;
  top: 96px;
  left: 94px;
  border-radius: 19px;
  background-color: #5746ea;
}

.profileDiv2 {
  margin-top: 30px;
  margin-left: 30px;
  width: 407px;
  height: 109px;
  top: 96px;
  left: 94px;
  border-radius: 19px;
  background-color: #101744;
}

.hpMainDiv1 {
  display: flex;
}

.notesDiv1 {
  width: 350px;
  height: 357px;
  top: 96px;
  left: 662px;
  border-radius: 19px;
  background-color: #f1c75b;
  margin-top: 30px;
  margin-left: 30px;
}
.counterDiv1 {
  margin: 20px;
  width: 798px;
  height: 190px;
  border-radius: 19px;
  background-color: #1e2343;
}

.hpmainDiv {
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.hpnews {
  width: 463px;
  height: 565px;

  margin-top: 30px;
}
